.vertical-line {
    border-left: 6px solid orange;
    height: 200px;
    margin-left: 50px;
    margin-top: 125px;
}
.flex-container {
    display: flex;
}
h1 {
    font-size: 60px;
    margin-left: 0;
}
#orange-color {
    color: crimson
}
.half-width {
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    background-color: crimson;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;    
}
.h2-center {
    text-align: center;
}
.mission-items {
    height: 40%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    border-radius: 10px;
}
.mission-items img {
    width: 50%;
}
#mission {
    background-color: khaki;
}
#vision {
    background-color: lightgreen;
}
#goals {
    background-color: lightblue;
}
h2 {
    font-size: 50px;
}