.vertical-line {
    border-left: 6px solid orange;
    height: 120px;
    margin-left: 50px;
    margin-top: 125px;
}
.flex-container {
    display: flex;
}
h1 {
    font-size: 60px;
    margin-left: 0;
}
#orange-color {
    color: crimson
}
.half-width {
    width: 50%;
    padding: 5%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    background-color: crimson;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;    
}
.h2-center {
    text-align: center;
}
.mission-items {
    height: 40%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    border-radius: 10px;
}
.mission-items img {
    width: 50%;
}
#mission {
    background-color: khaki;
}
#vision {
    background-color: lightgreen;
}
#goals {
    background-color: lightblue;
}
h2 {
    font-size: 40px;
}
#coding {
    height: 400px;
    width: 400px;
    padding-right: 0;
}
.limits {
    padding-left: 0;
}
.unlimited-develop {
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}
.community-bg {
    background-image: url(images/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right bottom;
    padding-bottom: 50px;
    padding-right: 50px;
}
.contact h2{
    text-align: center;
}
.contact {
    margin: 0 20% 0;
    background-color: limegreen;
    color: white;
    padding: 5%;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer h2 {
    font-family: 'Lobster', cursive;
}